*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  rgba(250, 247, 247, 0.726);
    z-index: 10;
    display : flex;
    justify-content: flex-end;
}

.modal-body{
    background-color: white;
    padding: 20px;
}

.modal-body form{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.show-modal{
    display: flex;
}

.hide-modal{
    display: none;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.employee-list{
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.employee-list, td, th{
    border: 1px solid #e7e7e7;
}

.employee-list td{
    text-align: center;
    padding: 10px;
}

.center-modal{
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}

.update-modal-body{
    width: 400px;
    
}